body{
    background-color:  #F7F7F7;
}

h1{
    color: gray;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
img {
    width: 100px;
    border-radius: 50px;
}
*/

.logotipo{
    width: 50px;    
}

.icone-header {
    width: 100px;
    border-radius: 50px;
}

#imagem-header{
    width: 100px;
    border-radius: 50px;
}

.btn {
    border-radius: 5px;
    height: 30px;
    min-width: 130px;
    border: 0px;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.btn-green{
    background-color:rgb(79, 199, 79);
    color: white;
}

.btn-white{
    color: grey;
    background-color:white;
}

.btn-green:hover{
    background-color:rgb(39, 133, 39);
    color: white;
    cursor: pointer;
}